$PRIMARY_TEXT_COLOR: #f1f9fc;

$HEADER_BG: linear-gradient(rgba(197, 234, 249, 1), rgba(255, 255, 255, 1));

$FEATURE_TEXT_COLOR: #252c38;
$FEATURE_CARD_SIZE: 70px;

$SLIDER_IMG_SIZE: 80px;

$PRICE_BG_COLOR: linear-gradient(rgba(50, 60, 70, 0.9), rgba(50, 60, 70, 0.9));
$PRICE_CARD_BORDER_COLOR: #bcc4ca;

$FOOTER_BG: linear-gradient(rgba(255, 255, 255, 1), rgba(197, 234, 249, 1));
